@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f7f9;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), "Segoe UI", sans-serif;
}
